<div class="container mx-5 text-white">
    <form class="panel">
       <div class="my-2">
          <label for="about" class="form-label">Acerca de...</label>
          <textarea class="form-control" id="about" style="height: 100px"></textarea>
       </div>
       <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button type="button" class="btn btn-primary ">Actualizar</button>
          <button type="button" class="btn btn-danger">Eliminar</button>
          <button type="button" class="btn btn-success">Guardar</button>
       </div>
    </form>
 </div>

