.mb-educacion {
    margin-top: 3rem;
}

.img-educacion {
    margin-left: -5rem;
}

.img-ispc {
    width: 70%;
    padding-top: 2rem;
}

.lista-ispc {
    padding-top: 6rem;
}

.mb-certificados {
    margin-bottom: -5rem;
}

.certificadoArgProg {
    padding-bottom: 1rem;
}

.img-escuela {
    height: 286px; 
    width: 286px;
    padding-top: 2rem;
}

.bajar {
    margin-bottom: -8rem;
}