<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="list-redes" role="tabpanel" aria-labelledby="list-redes-list">
        <app-redespanel></app-redespanel>
    </div>
    <div class="tab-pane fade" id="list-banner" role="tabpanel" aria-labelledby="list-banner-list">
       <app-bannerpanel></app-bannerpanel> 
    </div>
    <div class="tab-pane fade" id="list-info" role="tabpanel" aria-labelledby="list-info-list">
       <app-infopanel></app-infopanel>
    </div>
    <div class="tab-pane fade" id="list-about" role="tabpanel" aria-labelledby="list-about-list">
       <app-sobremipanel></app-sobremipanel>
    </div>
    <div class="tab-pane fade" id="list-experiencia" role="tabpanel" aria-labelledby="list-experiencia-list">
       <app-experienciapanel></app-experienciapanel>
    </div>
    <div class="tab-pane fade" id="list-educacion" role="tabpanel" aria-labelledby="list-educacion-list">
       <app-educacionpanel></app-educacionpanel>
    </div>
    <div class="tab-pane fade" id="list-softSkills" role="tabpanel" aria-labelledby="list-softSkills-list">
       <app-skillspanel></app-skillspanel>
    </div>
    <div class="tab-pane fade" id="list-proyectos" role="tabpanel" aria-labelledby="list-proyectos-list">
       <app-proyectospanel></app-proyectospanel>
    </div>        
 </div>
 
