<div class="container mx-5 text-white">
    <form class="panel">
       <div class="my-2">
        <div class="pb-5">
          <h3>Proyectos</h3>
        </div>
          <h6><u>Proyecto 1</u></h6>
          <br>
          <label for="proyectoUno" class="form-label">Título</label>
          <input type="text" class="form-control" id="proyectoUno">
       </div>
       <div class="my-2">
          <label for="descripciónUno" class="form-label">Descripción</label>
          <input type="text" class="form-control" id="descripciónUno" placeholder="Descripción de tu proyecto">
       </div>
       <div class="my-2">
          <label for="urlImagen" class="form-label">URL de imagen</label>
          <input type="text" class="form-control" id="urlImagen">
       </div>
       <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button type="button" class="btn btn-primary ">Actualizar</button>
          <button type="button" class="btn btn-danger">Eliminar</button>
          <button type="button" class="btn btn-success">Guardar</button>
       </div>
       <div class="row">
          <div class="my-2 pt-5">
             <h6><u>Proyecto 2</u></h6>
             <br>
             <label for="proyectoDos" class="form-label">Título</label>
             <input type="text" class="form-control" id="proyectoDos">
          </div>
          <div class="my-2">
             <label for="descripciónDos" class="form-label">Descripción</label>
             <input type="text" class="form-control" id="descripciónDos" placeholder="Descripción de tu proyecto">
          </div>
          <div class="my-2">
             <label for="urlImagen" class="form-label">URL de imagen</label>
             <input type="text" class="form-control" id="urlImagen">
          </div>
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
             <button type="button" class="btn btn-primary ">Actualizar</button>
             <button type="button" class="btn btn-danger">Eliminar</button>
             <button type="button" class="btn btn-success">Guardar</button>
          </div>
       </div>
       <div class="row">
         <div class="my-2 pt-5">
            <h6><u>Proyecto 3</u></h6>
            <br>
            <label for="proyectoTres" class="form-label">Título</label>
            <input type="text" class="form-control" id="proyectoTres">
         </div>
         <div class="my-2">
            <label for="descripciónTres" class="form-label">Descripción</label>
            <input type="text" class="form-control" id="descripciónTres" placeholder="Descripción de tu proyecto">
         </div>
         <div class="my-2">
            <label for="urlImagen" class="form-label">URL de imagen</label>
            <input type="text" class="form-control" id="urlImagen">
         </div>
         <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="button" class="btn btn-primary ">Actualizar</button>
            <button type="button" class="btn btn-danger">Eliminar</button>
            <button type="button" class="btn btn-success">Guardar</button>
         </div>
      </div>
    </form>
 </div>

