<section class="registro"> 
    <div class="container text-white">
        <div class="row">
            <div class="col-4">
            </div>
            <div class="col-4 formLogin">
                <div class="modal-body">
                    <form>
                    <div class="pb-4">
                        <h2 class="text-center">Registro</h2>
                    </div>
                    <div class="mb-3">
                        <label for="disabledTextInput" class="form-label">Nombre</label>
                        <input type="text" id="disabledTextInput" class="form-control entradaForm">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email</label>
                        <input type="email" class="form-control entradaForm" id="exampleInputEmail1">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                        <input type="password" class="form-control entradaForm" id="exampleInputPassword1">
                    </div>
                    </form>
                </div>
                <div class="modal-footer pt-3">
                    <button type="submit" class="botonRegistrar btn btn-primary"><a routerLink="/panel">Registrar</a></button>
                </div>
            </div>
            <div class="col-4">
            </div>
        </div>
    </div>
</section> 

