<div class="container mx-5 text-white">
    <form class="panel">
        <div class="my-2">
            <h3>Redes</h3>
            <br>
            <label for="facebook" class="form-label">Facebook</label>
            <input type="text" class="form-control" id="facebook">
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="button" class="btn btn-primary ">Actualizar</button>
            <button type="button" class="btn btn-danger">Eliminar</button>
            <button type="button" class="btn btn-success">Guardar</button>
        </div>
        <div class="my-2">
            <label for="linkedin" class="form-label">Linkedin</label>
            <input type="text" class="form-control" id="linkedin">
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="button" class="btn btn-primary">Actualizar</button>
            <button type="button" class="btn btn-danger">Eliminar</button>
            <button type="button" class="btn btn-success">Guardar</button>
        </div>
        <div class="my-2">
            <label for="github" class="form-label">GitHub</label>
            <input type="text" class="form-control" id="github">
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="button" class="btn btn-primary">Actualizar</button>
            <button type="button" class="btn btn-danger">Eliminar</button>
            <button type="button" class="btn btn-success">Guardar</button>
        </div>
    </form>
</div>

