<div class="container mx-5 text-white">
    <form class="panel">
       <div class="my-2">
          <h3>Banner</h3>
          <br>
          <label for="banner" class="form-label">Banner</label>
          <input type="url" class="form-control" id="banner">
       </div>
       <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button type="button" class="btn btn-primary ">Actualizar</button>
          <button type="button" class="btn btn-danger">Eliminar</button>
          <button type="button" class="btn btn-success">Guardar</button>
       </div>
    </form>
 </div>

