<div class="container mx-5 text-white">
    <h3>Hard & SoftSkill</h3>
    <br>
    <form class="panel">
       <div class="row">
          <div class="col-6 my-2">
             <label for="skillUno" class="form-label">Skill</label>
             <input type="text" class="form-control" id="skillUno">
          </div>
          <div class="col-6 my-2">
             <label for="porcentajeUno" class="form-label">Porcentaje</label>
             <input type="text" class="form-control" id="porcentajeUno">
          </div>
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
             <button type="button" class="btn btn-primary ">Actualizar</button>
             <button type="button" class="btn btn-danger">Eliminar</button>
             <button type="button" class="btn btn-success">Guardar</button>
          </div>
       </div>
       <!--Skill 2-->
       <div class="row">
          <div class="col-6 my-2 pt-5">
             <label for="skillDos" class="form-label">Skill</label>
             <input type="text" class="form-control" id="skillDos">
          </div>
          <div class="col-6 my-2 pt-5">
             <label for="porcentajeDos" class="form-label">Porcentaje</label>
             <input type="text" class="form-control" id="porcentajeDos">
          </div>
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
             <button type="button" class="btn btn-primary ">Actualizar</button>
             <button type="button" class="btn btn-danger">Eliminar</button>
             <button type="button" class="btn btn-success">Guardar</button>
          </div>
       </div>
       <!--Skill 3-->
       <div class="row">
         <div class="col-6 my-2 pt-5">
            <label for="skillTres" class="form-label">Skill</label>
            <input type="text" class="form-control" id="skillTres">
         </div>
         <div class="col-6 my-2 pt-5">
            <label for="porcentajeTres" class="form-label">Porcentaje</label>
            <input type="text" class="form-control" id="porcentajeTres">
         </div>
         <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="button" class="btn btn-primary ">Actualizar</button>
            <button type="button" class="btn btn-danger">Eliminar</button>
            <button type="button" class="btn btn-success">Guardar</button>
         </div>
      </div>
      <!--Skill 4-->
      <div class="row">
         <div class="col-6 my-2 pt-5">
            <label for="skillCuatro" class="form-label">Skill</label>
            <input type="text" class="form-control" id="skillCuatro">
         </div>
         <div class="col-6 my-2 pt-5">
            <label for="porcentajeCuatro" class="form-label">Porcentaje</label>
            <input type="text" class="form-control" id="porcentajeCuatro">
         </div>
         <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="button" class="btn btn-primary ">Actualizar</button>
            <button type="button" class="btn btn-danger">Eliminar</button>
            <button type="button" class="btn btn-success">Guardar</button>
         </div>
      </div>
    </form>
 </div>

