<div class="container mx-5 text-white">
    <form class="panel">
       <div class="my-2">
          <div class="pb-5">
             <h3>Experiencia Laboral</h3>
          </div>
          <h6>Puesto 1</h6>
          <br>
          <label for="tituloPuestoUno" class="form-label">Título del puesto</label>
          <input class="form-control" form-control-sn id="tituloPuestoUno" type="text">
       </div>
       <div class="mb-3">
          <label for="empresaUno" class="form-label">Empresa</label>
          <input class="form-control" form-control-sn id="empresaUno" type="text">
       </div>
       <div class="mb-3">
          <label for="periodoUno" class="form-label">Periodo</label>
          <input class="form-control" form-control-sn id="periodoUno" type="text">
       </div>
       <div class="mb-3">
          <label for="descripcionUno" class="form-label">Descripción del puesto</label>
          <textarea class="form-control" form-control-sn id="descripcionUno" type="text"></textarea>
       </div>
       <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button type="button" class="btn btn-primary">Actualizar</button>
          <button type="button" class="btn btn-danger">Eliminar</button>
          <button type="button" class="btn btn-success">Guardar</button>
       </div>
       <div class="row">
          <div class="my-2 pt-5">
             <h6>Puesto 2</h6>
             <br>
             <label for="tituloPuestoDos" class="form-label">Título del puesto</label>
          <input class="form-control" form-control-sn id="tituloPuestoDos" type="text">
          </div>
          <div class="mb-3">
             <label for="empresaDos" class="form-label">Empresa</label>
             <input class="form-control" form-control-sn id="empresaDos" type="text">
          </div>
          <div class="mb-3">
             <label for="periodoDos" class="form-label">Periodo</label>
             <input class="form-control" form-control-sn id="periodoDos" type="text">
          </div>
          <div class="mb-3">
             <label for="descripcionDos" class="form-label">Descripción del puesto</label>
             <textarea class="form-control" form-control-sn id="descripcionDos" type="text"></textarea>
          </div>
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
             <button type="button" class="btn btn-primary">Actualizar</button>
             <button type="button" class="btn btn-danger">Eliminar</button>
             <button type="button" class="btn btn-success">Guardar</button>
          </div>
       </div>
    </form>
 </div>
 