<div class="container mx-5 text-white">
   <form class="panel">
      <div class="my-2">
         <h3>Info</h3>
         <div class="row g-3 my-2">
            <div class="col">
               <label for="info" class="form-label">Nombre</label>
               <input type="text" class="form-control">
            </div>
            <div class="col">
               <label for="info" class="form-label px-2">Apellido</label>
               <input type="text" class="form-control">
            </div>
         </div>
         <div class="my-2">
            <label for="info" class="form-label">Título</label>
            <input type="text" class="form-control" id="info">
         </div>
         <div>
            <label for="info" class="form-label">Foto perfil</label>
            <input type="url" class="form-control" id="info" placeholder="ingrese url de imagen">
         </div> 
      </div>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
         <button type="button" class="btn btn-primary ">Actualizar</button>
         <button type="button" class="btn btn-danger">Eliminar</button>
         <button type="button" class="btn btn-success">Guardar</button>
      </div>
   </form>
</div>

